#Model Validation
##1. Evaluate using train and test set

In [3]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

filename='/content/pima-indians-diabetes.data.csv'
names=['pred','plas','pres','skin','test','mass','pedi','age','class']
dataframe=read_csv(filename,names=names)

In [5]:
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]
test_size=0.33
seed=7

In [7]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=test_size,random_state=seed)
model=LogisticRegression()
model.fit(X_train,Y_train)
result=model.score(X_test,Y_test)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
result

0.7874015748031497

##Evaluate using K-folds

In [11]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [13]:
filename='/content/pima-indians-diabetes.data.csv'
names=['pred','plas','pres','skin','test','mass','pedi','age','class']
dataframe=read_csv(filename,names=names)

In [15]:
dataframe

     pred  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [ ]:
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]
num_folds=10
seed=7

kfold=KFold(n_splits=num_folds)
models=LogisticRegression(max_iter=200)
results=cross_val_score(model,X,Y,cv=kfold)

In [19]:
result

0.7874015748031497

In [20]:
result.mean()*100.0

78.74015748031496

##Leave One Out Cross-Validation (LooCV

In [22]:
from sklearn.model_selection import LeaveOneOut, KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [24]:
filename='/content/pima-indians-diabetes.data.csv'
names=['pred','plas','pres','skin','test','mass','pedi','age','class']
dataframe=read_csv(filename,names=names)

In [27]:
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]
loocv= LeaveOneOut()
model= LogisticRegression(max_iter=300)
results=cross_val_score(model,X,Y,cv=loocv)

In [ ]:
results

In [30]:
results.mean()

0.7760416666666666

In [31]:
results.mean()*100.0

77.60416666666666

In [33]:
 results.std()*100.0

41.68944689773287